.menu, .menu .dropdown-menu{
    background-color: #00487C; 
}
.menu{
    box-shadow: 0px 10px 6px -4px rgba(0,0,0,0.61);
}
.menu .dropdown-menu{
    font-size: .7em;
}
.msg{
    background-color: #00518C;
    padding-top: 20px;
    color: #C9E8FF;
    height: 70px;
    font-size: 1.7em;
}
ul {
    list-style-type: none;
    margin: 0;
}
li {
    margin-right: 10px;
    float: left;
}
li.menu_li a {
    font-size: 1.7em;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li.menu_li a:hover {
    background: #00487C;
    color:#fdb61c;
}
.subdiv{
    height: 2px;
    background-color: #fdb61c;
}
#opciones{
    float:right;
}
#busqueda_fecha{
    float: left;
    width: 300px;
}
tbody tr td input[type="text"], tbody tr td span{
    font-weight: bold;
    text-align: center;
}
.input_s{
    width: 90px;
}
.input_m{
    width: 120px;
}
.input_g{
    width: 250px;
}
.boton{
    font-size: 1.2em;
}
@media screen and (max-width: 600px){
    table{
        width:100%;
    }
    tbody tr td input[type="text"]{
        font-size:.8em;
    }
    tbody tr td span{
        width: 20px;
    }
    thead tr td{
        font-size: .8em;
    }
  
}