/* CSS PARA EL MENU*/
.menu, .menu .dropdown-menu{
    background-color: #0d47a1; 
}
.menu{
    box-shadow: 0px 10px 6px -4px #0a3e8b;
}
.menu .dropdown-menu{
    font-size: .7em;
}
ul {
    list-style-type: none;
    margin: 0;
}
li {
    margin-right: 10px;
    float: left;
}
li.menu_li a {
    font-size: 1.7em;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li.menu_li a:hover {
    background: #0d47a1;
    color:#fdb61c;
}
.btn-primary{
    background-color: #0d47a1;
    border-color: #1565c0;
}
/*PEQUEÑA BARRA QUE APARECE DEBAJO DE CADA LISTA DEL MENU, PARA INDICARNOS DONDE ESTAMOS*/
.subdiv{
    height: 2px;
    background-color: #fdb61c;
}
#cabecera{
    margin: 0px;
    background-color: #1565c0;
}
/* DIV QUE CONTIENE EL TEXTO QUE NOS MUESTRA DONDE ESTAMOS*/
.msg{
    margin: 30px 0px 10px;
    color: rgb(240, 240, 240);
    height: 3rem;
    font-size: 1.7em;
}
.clear{
    clear: both;
}
tbody tr td input[type="text"], tbody tr td span,select{
    font-weight: bold;
    text-align: center;
}
.selectReg{
    width: 80px;
}
.boton,.col-3 button{
    font-size: 1.2em;
}
#conf{
    width: auto;
}
.custom-control-label{
    transform: scale(1.2);
    margin-bottom: 1rem;
    margin-left: 50%;
}

/* SELECTORES ESPECIFICOS PARA LAS PAGINAS */
td input:enabled, td select:enabled{
	background-color: #DFFFDE;
}
/* .table-responsive{
	overflow-x: visible;
} */
#grupo_actualizar_borrar_btns,#opciones {
    float: right;
}
#guardar_cambios_btn,#aviso_borrar_btn{
    display:none;
}

/* MANIPULADORES, DESCANSOS, TURNOS */
#mensaje_manip, #mostrar_manip, #mensaje_descansos, #mostrar_descansos, #mensaje_turnos, #mostrar_turnos {
    display: none;
}
.bootstrap-datetimepicker-widget {
    z-index: 1021;
}

/* REGISTRO_MANIPULADORES Y REASIGNAR*/
#busqueda_fecha{
    float: left;
    width: 200px;
}
#nombreB,#info,#fecha input,#mostrarTodos,#buscarReg{
    margin-left: 20px;
}
#nombreB{
    margin-top: 30px;
}
#tabla_registro select {
    width: 190px;
}
/*REASIGNAR LINEA MANIPULADOR*/
#nombreB,#nombreInfo,#fechaInfo,#busqueda_fecha,#botonVolver{
    float:left; 
}
#nombreInfo,#fechaInfo,#nombreInfo input,#fechaInfo input{
    font-size: 20px;
    font-weight: bold;
}
#nombreInfo, #fechaInfo{
    margin-bottom: 10px;
    margin-top: 20px;
}
#nombreInfo input{
    width: 400px;
    border: none;
    background-color: white;
}
#fechaB input{
    width: 150px;
}
#modalReasignarLinea input:disabled{
    background-color: #F8F8F8;
}
#modalReasignarLinea input:enabled,#tabla_reasignar input{
    background-color: white;
}
#buscadorReasignar{
    margin-bottom: 20px;
}